/* home */
@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");
.index {
  background-image: url(https://www.xtrafondos.com/descargar.php?id=5578&resolucion=2560x1440);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu, .piePagina {
  background-color: black;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Wire One";
}

.menu li, .piePagina li {
  list-style: none;
  font-size: 50px;
}

.menu li a, .piePagina li a {
  text-decoration: none;
  color: whitesmoke;
}

.piePagina li a {
  text-decoration: none;
  list-style: none;
  font-size: 70px;
  color: purple;
}

@media screen and (max-width: 768px) {
  .menu, .piePagina, .piePagina {
    background-color: purple;
  }
}

/******************index*****************/
nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  -ms-grid-rows: 200px 200px;
      grid-template-rows: 200px 200px;
      grid-template-areas: "homeDos homeDos homeDos" "text text text";
  padding: 148px 10px 255px 10px;
}

.homeDos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: homeDos;
  /*border: 2px solid white;*/
  font-size: 150px;
  color: wheat;
  font-family: 'WindSong', cursive;
  padding: 30px 100px 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  margin: 100px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*border: 2px solid white;*/
  font-size: 55px;
  color: violet;
  font-family: 'Wire One', sans-serif;
  padding: 45px 300px 45px 300px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .homeDos {
    font-size: 30px;
    color: wheat;
    font-family: 'WindSong', cursive;
    text-align: center;
    padding: 45px 45px 45px 45px;
  }
  .text {
    font-size: 40px;
    color: violet;
    font-family: 'Wire One', sans-serif;
    padding: 45px 10px 45px 10px;
  }
}

@media screen and (min-width: 768px) {
  .homeDos {
    padding: 45px 45px 45px 45px;
  }
  .text {
    padding: 45px 45px 45px 45px;
  }
}

@media screen and (min-width: 1024px) {
  .homeDos {
    padding: 30px 100px 50px 100px;
  }
  .text {
    padding: 45px 150px 45px 150px;
  }
}

/******************* Acerca de...******************/
/* @media screen and (max-width: 1024px) {

    .menu{
        display: grid;
        background-color: red;
        
    }
    li a {
        color: lightgreen;
        
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2 2fr);
        grid-area: 
                textDos
                textThree
                imagen        ;
    }
    .textDos{
        display: grid;
        font-size: 20px;
        color: black;
    }
    .textThree {
        font-size: 20px;
        color: lightpink;
    }
    .imagen {
        height: 100px;
        width: 200px;
    }


}*/
.acercaDe {
  background-image: url("../Imagenes/abstract-art-colorful-background-b418.jpg");
}

/*
.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    
}*/
.textDos {
  /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;*/
  font-family: 'Wire One', sans-serif;
  font-size: 100px;
  color: whitesmoke;
  padding: 10px;
  grid-area: textDos;
}

.textThree {
  padding: 10px;
  width: 2fr;
  font-size: 60px;
  font-family: 'Wire One', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  grid-area: textThree;
}

#strato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagen {
  height: 70%;
  border-radius: 10%;
  grid-area: imagen;
}

/* NIVELES */
.bodyNiveles {
  background-image: url(https://cutewallpaper.org/23/hd-wallpaper-guitar/2463024462.jpg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "titulos titulos titulos" "novato intermedio avanzado";
}

.bodyNiveles h2 {
  font-size: 100px;
  padding: 50px;
  color: whitesmoke;
}

.bodyNiveles p {
  text-align: center;
  color: whitesmoke;
}

#titulos {
  text-align: center;
  color: black;
  font-size: 30px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulos;
}

#novato {
  text-align: center;
  padding: 10px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: novato;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intermedio {
  text-align: center;
  padding: 10px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: intermedio;
}

#avanzado {
  text-align: center;
  padding: 10px;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: avanzado;
}

@media only screen and (max-width: 1000px) {
  .home1 {
    background-color: red;
  }
}

#cuerpoPrecios {
  background-image: url(https://cutewallpaper.org/23/hd-wallpaper-guitar/2463024462.jpg);
}

#tituloH3 {
  color: whitesmoke;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.card {
  margin: 0 auto;
  height: auto;
  width: 150%;
}

.row {
  padding: 100px;
  padding-bottom: 150px;
}

.form2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white)), url(https://cutewallpaper.org/23/hd-wallpaper-guitar/2463024462.jpg);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), white), url(https://cutewallpaper.org/23/hd-wallpaper-guitar/2463024462.jpg);
}

#core {
  height: 750px;
  width: 50%;
  margin: 0 auto;
}

.form {
  margin: 10%;
  font-size: 25px;
  color: #460746;
}

#cuerpoBooks {
  background-image: url(https://cutewallpaper.org/23/hd-wallpaper-guitar/2463024462.jpg);
}

#guitarCarrusel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "satch petru vai" "satch petru vai";
}

#satch {
  grid-area: "satch";
}

#petru {
  grid-area: "petru";
}

#vai {
  grid-area: "vai";
}

#titleBooks {
  color: whitesmoke;
  text-align: center;
  font-size: 50px;
}

#titleBooks p {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=estilos.css.map */