
/******************* Acerca de...******************/
/* @media screen and (max-width: 1024px) {

    .menu{
        display: grid;
        background-color: red;
        
    }
    li a {
        color: lightgreen;
        
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2 2fr);
        grid-area: 
                textDos
                textThree
                imagen        ;
    }
    .textDos{
        display: grid;
        font-size: 20px;
        color: black;
    }
    .textThree {
        font-size: 20px;
        color: lightpink;
    }
    .imagen {
        height: 100px;
        width: 200px;
    }


}*/
    

.acercaDe {
    background-image: url("../Imagenes/abstract-art-colorful-background-b418.jpg");
}
/*
.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    
}*/
.textDos {
    
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;*/
    font-family: 'Wire One', sans-serif;
    font-size: 100px;
    color: whitesmoke;
    padding: 10px;
    grid-area: textDos;
}
.textThree{
    padding: 10px;
    width: 2fr;
    font-size: 60px;
    font-family: 'Wire One', sans-serif;
    display: flex;
    align-items: center;
    color: whitesmoke;
    grid-area: textThree;
}
#strato{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen{
    height: 70%;
    border-radius: 10%;
    grid-area: imagen;
}
