.form2{
    background-image: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1)),url(https://cutewallpaper.org/23/hd-wallpaper-guitar/2463024462.jpg);  
}


#core{
    height: 750px;
    width: 50%;
    margin: 0 auto;
}
.form {
    margin: 10%;
    font-size: 25px;
    color: rgb(70, 7, 70);
}