

.index {
    background-image: url(https://www.xtrafondos.com/descargar.php?id=5578&resolucion=2560x1440);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
$styleNavbar-footer: (
    color1: black,
    espacio: 35px,
    propiedad: flex,
    direccion: row,
    espaciado: space-evenly,
    fuenteLetra: 'Wire One', sans-serif
    sinDeco: none,
    sinStyle: none,
    color2: whitesmoke,
    tamano: 50px,
);
.menu {
    background-color: map-get($styleNavbar-footer, color1);
    padding: map-get($styleNavbar-footer, espacio);
    display: map-get($styleNavbar-footer, propiedad);
    flex-direction: map-get($styleNavbar-footer, direccion);
    justify-content: map-get($styleNavbar-footer, espaciado);
    font-family: map-get($styleNavbar-footer, fuenteLetra);
    
    li {

        list-style: none;
        font-size: map-get($styleNavbar-footer, tamano);

        a {
            text-decoration: none;
            color: whitesmoke;
        }
    }
}

.piePagina {
    @extend .menu; 
    
    li a {
        text-decoration: none;
        list-style: none;
        font-size: 70px;
        color: purple;
    }
}

@media screen and (max-width: 768px) {
    
    .menu, .piePagina {
        background-color: purple;
        
    }
    
}

