/* NIVELES */
.bodyNiveles{
    background-image: url(https://cutewallpaper.org/23/hd-wallpaper-guitar/2463024462.jpg);  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
                "titulos titulos titulos"
                "novato intermedio avanzado";
    h2{
        font-size: 100px;
        padding: 50px;
        color: whitesmoke;
    }
    p {
        text-align: center;
        color: whitesmoke;
            }
        }


#titulos{
    text-align: center;
    color: black;
    font-size: 30px;
    grid-area: titulos;
}
#novato{
    text-align: center;
    padding: 10px;
    grid-area: novato;
    justify-content: center;
}
#intermedio{
    text-align: center;
    padding: 10px;
    grid-area: intermedio;
}
#avanzado{
    text-align: center;
    padding: 10px;
    grid-area: avanzado;
}
        


@media only screen and (max-width: 1000px){
    .home1{
        background-color: red;
    }
}
