#cuerpoPrecios{
    background-image: url(https://cutewallpaper.org/23/hd-wallpaper-guitar/2463024462.jpg);  
}
#tituloH3 {
    color: whitesmoke;
    font-size: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.card{
    margin: 0 auto;
    height: auto;
    width: 150%;
}

.row{
    padding: 100px;
    padding-bottom: 150px;
}